.DS_Store
node_modules
/dist
/package-lock.json
.vscode
.idea
.quasar
/src-cordova
/src-capacitor
/src-ssr
/src-pwa
/src-bex
/src-electron
.env
.env.*
!.env.example
.editorconfig
.eslintignore
.prettierignore
.postcssrc.js
.eslintrc.js
.prettierrc
*.log
