// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0d47a1; // Deep Ice Blue
$secondary: #00838f; // Teal/Cool Water
$accent: #2979ff; // Bright Air Blue

$dark: #102027;
$dark-page: #0a1114;

$positive: #00c853; // Fresh Green
$negative: #d50000;
$info: #00b0ff; // Sky Blue
$warning: #ffd600;
